/*-- scss:functions --*/
@function colorToRGB ($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

/*-- scss:defaults --*/
// Base document colors

$body-bg: #eff8e5;
$body-color: black;
$link-color: #233c53;

$input-bg: #ffffff;

$navbar-bg: darken($body-bg, 6%);
$navbar-fg: #386b00;
$navbar-hl: $body-color;

$secondary-color: #61aa12;

// Mermaid theme
$mermaid-bg-color: $body-bg;
$mermaid-edge-color: $body-color;
$mermaid-label-bg-color: $body-bg;
$mermaid-label-fg-color: $body-color;

div h1 { color: $body-color; }
div h2 { color: $body-color; }
div h3 { color: $body-color; }
div h4 { color: $body-color; }
div h5 { color: $body-color; }
div h6 { color: $body-color; }

div p strong { 
    font-weight: bold; 
    color: lighten($navbar-fg, 10%);
}

// Code blocks 
// $code-block-bg-alpha: -.8;