/*-- scss:functions --*/
@function colorToRGB ($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

/*-- scss:defaults --*/
// Base document colors

$body-bg: #000000;
$body-color: white;
$link-color: #b7ff60e0;

$input-bg: #000000;

$navbar-bg: #1d2711ee;
$navbar-fg: $body-color;
$navbar-hl: #c6ff80a4;

$secondary-color: #dcffb6;
  
// Mermaid theme
$mermaid-bg-color: $body-bg;
$mermaid-edge-color: $body-color;
$mermaid-label-bg-color: $body-bg;
$mermaid-label-fg-color: $body-color;

div h1 { color: $body-color; }
div h2 { color: $body-color; }
div h3 { color: $body-color; }
div h4 { color: $body-color; }
div h5 { color: $body-color; }
div h6 { color: $body-color; }

div p strong { 
    font-weight: bold; 
    color: lighten($link-color, 10%);
}
// Code blocks
// $code-block-bg-alpha: -.8;

// div h1, h2, h3, h4, h5, h6 {
//   color: $body-color;
// }