/*-- scss:defaults --*/
// Base document colors
// $body-bg: #eecc99;
$body-bg: #e6f5d6;
$body-color: black;
$link-color: #233c53;

// $navbar-bg: #5e3d0c;
// $navbar-bg: #77b82dd7;
$navbar-bg: #c6ddae;

div p strong { font-weight: bold }

// Code blocks
$code-block-bg-alpha: -.8;